*db
*pid
*pyc

scrots
scripts/auth
dotfiles/.config/orw/config
dotfiles/.config/orw/offsets
dotfiles/.config/orw/bar/*
!dotfiles/.config/orw/bar/configs
dotfiles/.config/orw/windows_properties
dotfiles/.config/nvim/**/deoplete*
