scrolledwindow undershoot.top, 
scrolledwindow undershoot.right,
scrolledwindow undershoot.bottom,
scrolledwindow undershoot.left {
	background-image: none;
}

VteTerminal, vte-terminal {
	padding: 35px;
}

* { outline: none }

@import url("thunar.css");
