@define-color bg #17171c;
@define-color bg #17171c;
@define-color pbg #2d2d34;
@define-color pbg #2d2d34;
@define-color sbg #222228;
@define-color nbg #3d434d;
@define-color bbg #7390ad;
@define-color bbg #7390ad;
@define-color bfg #517683;
@define-color hlbg #1d1d23;
@define-color nbg #3d434d;
@define-color nbg #2f333b;
@define-color tbg rgba(23,23,28,0.85);
@define-color fg #666064;
@define-color pfg #46464d;
@define-color sfg #404046;
@define-color afg #7390ad;
@define-color sbbg rgba(22,26,27,0);

window.thunar {
	background: none;
	font-family: SFMono;
	font-size: 10px;
}

window.thunar treeview {
	background: none;
	color: @fg;
}

window.thunar paned grid {
	background: @hlbg;
	/* padding: 0 0 0 20px; */
	padding: 0 5px;
}

window.thunar grid *:selected,
window.thunar grid *:active {
	border-radius: 1px;
	background: @sbg;
}

window.thunar .sidebar {
	background-color: @tbg;
	padding: 1rem
}

window.thunar .standard-view .view {
	background: none;
	padding: 0px 5px;
	color: @fg;
}

window.thunar .standard-view .view:selected {
	border-radius: 1px;
	background: @pbg;
}

window.thunar treeview.view header button {
	background: none;
	box-shadow: none;
	border: none;
	color: transparent;
	min-height: 0px;
	max-height: 0px;
	padding: 0px;
	margin: 0px;
	border: none;
}

window.thunar treeview:selected {
	border-radius: 1px;
	background: @pbg;
}

window.thunar .frame {
	border: 0
}

window.thunar toolbar {
	background: @bg;
	padding: 0px;
	color: @pfg;
}

window.thunar toolbar * {
	-gtk-icon-transform: scale(0.5);
	background: none;
	margin: 0px 1px;
	color: @pfg;
}

window.thunar toolbar button {
	border-radius: 50%;
	background: @bg;
	box-shadow: none;
	border: none;
	color: @bfg;
	min-height: 0;
	padding: 1px;
	margin: 3px;
}

window.thunar toolbar button:hover {
	background: @nbg;
	transition: 0;
	color: #000000;
}

.thunar toolbar image {
	color: #ffaa00;
}

/*path-bar of thunar*/
/*
window.thunar toolbar#location-toolbar > toolitem > widget > widget.linked.path-bar > button.toggle.path-bar-button:checked {
	color: #ffffff;
	background: linear-gradient(to right, #c50ed2, #8500f7);
	border-radius: 20px 20px 20px 20px;

	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
*/

/*
window.thunar toolbar#location-toolbar > toolitem > widget > widget.linked.path-bar > button.path-bar-button {
*/

window.thunar toolbar#location-toolbar > button {
	background: @pbg;
	outline: none;
	border: none;
	box-shadow: none;
}

.thunar toolbar entry {
	border-radius: 1px;
	padding-left: 0px;
	box-shadow: none;
	background: @nbg;
	/* background: #31363d; */
	font-size: 9px;
	color: @afg;
	color: @pfg;
	border: 0;
	min-height: 0;
	padding: 0px;
	margin: 3px;
}

window.thunar separator {
	background: @sbg;
}

window.thunar scrollbar {
	background-color: @sbbg;
	box-shadow: none;
	transition: 0;
	border: 0;
}

window.thunar scrollbar:hover {
	background-color: @sbbg;
	box-shadow: none;
	transition: 0;
	border: 0;
}

window.thunar scrollbar.button:hover {
	background-color: @afg;
}

/*
.thunar toolbar {
background-color: #282a36; }

.thunar toolbar.horizontal button image {
-gtk-icon-transform: scale(0.72); }

scrolledwindow.sidebar treeview.view, scrollbar.right {
	background: #232530;
	padding: 1.5px;
	border: none;
box-shadow: none; }

scrolledwindow.standard-view scrollbar.right {
background-color: #282a36; }

window.thunar toolbar > toolitem > widget > widget.linked.path-bar > button.toggle.path-bar-button:hover, window.thunar toolbar > toolitem > widget > widget.linked.path-bar > button.toggle.path-bar-button:checked, window.thunar toolbar > toolitem > widget > widget.linked.path-bar > button.toggle.path-bar-button:selected, window.thunar paned > scrolledwindow treeview.view:hover, window.thunar paned > scrolledwindow treeview.view:checked, window.thunar paned > scrolledwindow treeview.view:selected {
	background-color: transparent;
	color: #cecece;
box-shadow: none; }
window.thunar toolbar > toolitem > widget > widget.linked.path-bar > button.toggle.path-bar-button:checked:backdrop label, window.thunar toolbar > toolitem > widget > widget.linked.path-bar > button.toggle.path-bar-button:selected:backdrop label, window.thunar paned > scrolledwindow treeview.view:checked:backdrop label, window.thunar paned > scrolledwindow treeview.view:selected:backdrop label {
color: rgba(189, 147, 249, 0.4); }

window.thunar toolbar > toolitem > widget > widget.linked.path-bar > button.path-bar-button {
	background: none;
	outline: none;
	border: none;
box-shadow: none; }
*/

/* .thunar toolbar * {padding: 0;} */
