:root {
	--bg: #1a1a1a;
	--fg: #2c2c2c;
	--sbg: #171717;
	--sfg: #999999;
	--mfg: #8e9999;
}

@font-face {
	font-family: "Iosewka Orw";
	src: url("/home/sola/.fonts/iosevka-orw-medium.ttf");
}

body {
	background-color: var(--bg);
	font-family: "Iosewka Orw";
}

#content {
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: inline-block;
	white-space: nowrap;
	color: var(--fg);
}

a {
	color: var(--fg);
	font-size: 15px;
	text-decoration: none;
}

#separator {
	font-size: 10px;
	padding: 0 20px;
	color: var(--sbg);
	filter: brightness(95%);
}

#input {
	background-color: var(--sbg);
	border: none;
	border-bottom: 3px solid var(--mfg);
	width: 90%;
	margin: 10px 0;
	padding: 2% 5%;
	font-size: 12px;
	color: var(--sfg);
}

#input::selection {
	background: var(--mfg);
}

#input::placeholder {
	color: var(--bg);;
}

#input:focus {
	outline: 0;
	outline-color: transparent;
	outline-style: none;
}
