/* config */

configuration {
	m:                "-4";
	lines:            10;
	show-match:       false;
	sidebar-mode:     false;

	kb-cancel:        "Escape";
	kb-page-prev:     "Alt+k";
	kb-page-next:     "Alt+j";
	kb-mode-next:     "Alt+l";
	kb-delete-entry:  "Alt+Delete";
	kb-mode-previous: "Alt+h";
}
