/* config */

configuration {
	m:                "-4";
	lines:            12;
	show-match:       false;
	sidebar-mode:     false;

	kb-mode-next:     "Alt+Right";
	kb-delete-entry:  "Alt+Delete";
	kb-mode-previous: "Alt+Left";
}
