[Unit]
Description=wallpaper changer

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/sola/.Xauthority
ExecStart=/bin/bash -c "/home/sola/.orw/scripts/wallctl.sh -a -o random"

[Install]
WantedBy=multi-user.target
